*.rbc
*.sassc
.sass-cache/
capybara-*.html
.rspec
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/public/system
/public/uploads

.env
.env.*

.DS_Store
Thumbs.db

*.swp
*.bak
*.tmp
*.orig
.idea/
.vscode/

node_modules/
yarn-error.log

byebug_history
